<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- our custom css -->
    <link rel="stylesheet" type="text/css" href="static/css/theatre.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Theatre Name</a>
            </div>


            <!-- Nav links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% block nav-directions %} {% endblock %}>
                        <a href="{% url 'directions' %}">Directions</a>
                    </li>
                    <li {% block nav-schedule %} {% endblock %}>
                        <a href="{% url 'schedule' %}">Schedule</a>
                    </li>
                    <li {% block nav-merch %} {% endblock %}>
                        <a href="{% url 'merchandise' %}">Merchandise</a>
                    </li>
                    <li {% block nav-tickets %} {% endblock %}>
                        <a href="{% url 'tickets' %}">Tickets</a>
                    </li>
                    <li><a href="https://github.com/yourbuddyconner/cs399-theatre">Github</a>
                    </li>
                </ul>
                <!--     </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li><a href="">
                        <i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-facebook"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-instagram"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-youtube"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-soundcloud"></i>
                    </a></li>
                </ul>
            </div>

        </div>
        </div>

    </nav>
    <!-- End Navbar -->


    <!-- Template Content -->
    <div class="container">
    {% block content %}{% endblock %}
    </div>  
    <!-- End Template Content -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div id="social-icons">
                <a href="">
                    <i class="fa fa-twitter fa-5x"></i>
                </a>
                <a href="">
                    <i class="fa fa-facebook fa-5x"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram fa-5x"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube fa-5x"></i>
                </a>
                <a href="">
                    <i class="fa fa-soundcloud fa-5x"></i>
                </a>
            </div>
            <div class="row">

            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- Scripts -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- End Scripts -->
  </body>
</html>