<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- our custom css -->
    <link rel="stylesheet" type="text/css" href="static/css/theatre.css">
    <!-- for responsive calendar -->
    <link rel="stylesheet" type="text/css" href="static/css/responsive-calendar.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-static-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" {% block nav-home %}{% endblock %} href="/">Theatre Name</a>
            </div>


            <!-- Nav links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% block nav-directions %} {% endblock %}>
                        <a href="{% url 'directions' %}" class="{% if request.path == '/directions' %}active{% endif %}">Directions</a>
                    </li>
                    <li {% block nav-schedule %} {% endblock %}>
                        <a href="{% url 'shows' %}" class="{% if request.path == '/shows' %}active{% endif %}">Shows</a>
                    </li>
                    <li {% block nav-merch %} {% endblock %}>
                        <a href="{% url 'merchandise' %}" class="{% if request.path == '/merchandise' %}active{% endif %}">Merchandise</a>
                    </li>
                    <li {% block nav-tickets %} {% endblock %}>
                        <a href="{% url 'tickets' %}" class="{% if request.path == '/tickets' %}active{% endif %}">Tickets</a>
                    </li>
                    <li><a href="#anchor">Jump</a>
                    </li>
                    <li><a href="https://github.com/yourbuddyconner/cs399-theatre">Github</a>
                    </li>
                </ul>
                <!--     </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li><a href="">
                        <i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-facebook"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-instagram"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-youtube"></i>
                    </a></li>
                    <li><a href="">
                        <i class="fa fa-soundcloud"></i>
                    </a></li>
                </ul>
            </div>

        </div>
        </div>

    </nav>
    <!-- End Navbar -->


    <!-- Template Content -->
    <div class="wrap">
      <!-- Begin Slideshow -->
      <div class="container-fluid">
        <div class="row" id="slideshow">
          <div class="col">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <!-- <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
              </ol> -->

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="static/images/lady.jpg" alt="...">
                  <div class="carousel-caption text-left">
                        <h3>
                            Theatre Name!
                        </h3>
                        <button class="btn btn-primary">Visit Today!</button>
                    </div>
                </div>
                {% for show in shows|slice:":4" %}
                <div class="item">
                    <img src="{{show.image}}" alt="...">
                    <div class="carousel-caption">
                        <h3>
                            {{show.name}}
                        </h3>
                        <p>
                            {{show.description}}
                        </p>
                        <button class="btn btn-primary">Buy Tickets!</button>
                    </div>
                </div>
                {% endfor %}
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Slideshow -->
    <a name="anchor"></a>
      {% block content %}{% endblock %}
    </div>
    
    <!-- End Template Content -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div id="social-icons">
                <a href="">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube fa-2x"></i>
                </a>
                <a href="">
                    <i class="fa fa-soundcloud fa-2x"></i>
                </a>
            </div>
            <div class="row">

            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- Scripts -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- for responsive calendar -->
    <script src="static/js/responsive-calendar.js"></script>
{% block JS %}{% endblock %}
    <!-- End Scripts -->
  </body>
</html>