{% extends "base.html" %}

{% block title %}{% load strip_up %}{{ X |strip_up:request.path }}{% endblock %}

{% block content %}
    <div class="container" style="text-align: center;">
        <h1>Bask in the Aroma<br></h1><h5>1115 S. Knoles Drive Flagstaff  AZ  86011</h5><h4><br></h4>
    	<div class="row" style="text-align:center;">
    		<div class="col-xs-6 " style="vertical-align: top;max-height: 450px; width:450px; overflow-y: scroll;display:inline-block;float:none;text-align:center;margin-right: 5%">
                <input type="text"  id="address">
                <button id="sub" onclick="getAdd()">Get Directions</button>
                <div id="text">

            </div>
        </div>
    <div class="col-xs-6" id="location_map" style="display:inline-block;float:none;text-align:center;margin-left: 5%" onload="initialize()">

    </div>
	</div>
    </div>
{% endblock %}

{% block JS %}
    <script src="http://goo.gl/t6ubRW"></script>
    <script>

        var map;
        var destin = new google.maps.LatLng(35.1880216, -111.6576671);
        var start;
        var dirDisplay = new google.maps.DirectionsRenderer();
        var dirService = new google.maps.DirectionsService();
        var geoCoder = new google.maps.Geocoder();

        var mapOptions = {
            zoom: 18,
            center: destin,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            };

    function initialize() {

{#            if (start == destin) {#}
                map = new google.maps.Map(document.getElementById('location_map'),
                mapOptions);

            new google.maps.Marker({
                position: destin,
                map: map

            });
                dirDisplay.setMap(map);
                dirDisplay.setPanel(document.getElementById('text'));
                google.maps.event.trigger(map, 'resize');

    }

        function geoCode(){
            var address = document.getElementById('address').value;
            geoCoder.geocode( {'address':address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                  start= results[0].geometry.location;
                };
            });
            }

    function getAdd(){
        geoCode();
        var route = {
            origin:start,
            destination: destin,
            travelMode: google.maps.TravelMode.DRIVING
        };
        dirService.route(route, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                dirDisplay.setDirections(response);}
     });
    }

document.getElementById("sub").addEventListener("click", getAdd);

google.maps.event.addDomListener(window, 'onsubmit', initialize());
google.maps.event.addDomListener(window, 'load', initialize());

    </script>
{% endblock %}