{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
	<div class="row" id="slideshow">
		<div class="col">
			<div id="carousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel" data-slide-to="1"></li>
			    <li data-target="#carousel" data-slide-to="2"></li>
			    <li data-target="#carousel" data-slide-to="3"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <img src="http://placehold.it/1000x500" alt="...">
			      <div class="carousel-caption">
			        Yolo			      
			      </div>
			    </div>
			    <div class="item">
			      <img src="http://placehold.it/1000x500" alt="...">
			      <div class="carousel-caption">
			        Swag			      
			      </div>
			    </div>
			    <div class="item">
			      <img src="http://placehold.it/1000x500" alt="...">
			      <div class="carousel-caption">
			        For			      
			      </div>
			    </div>
			    <div class="item">
			      <img src="http://placehold.it/1000x500" alt="...">
			      <div class="carousel-caption">
			        Jesus			      
			      </div>
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>
	<div class="row" id="main">
		<div class="col-xs-3" id="newsletter">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-xs-6 text-center" id="shows">
		<!-- generate these with django -->
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="http://placehold.it/80x80" alt="...">
			    </a>
			  </div>
			  <div class="media-body text-left">
			    <h4 class="media-heading">Show Title</h4>
			    <p>
			    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    	tempor incididunt ut labore et dolore magna aliqua. 
			    </p>
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="http://placehold.it/80x80" alt="...">
			    </a>
			  </div>
			  <div class="media-body text-left">
			    <h4 class="media-heading">Show Title</h4>
			    <p>
			    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    	tempor incididunt ut labore et dolore magna aliqua. 
			    </p>
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="http://placehold.it/80x80" alt="...">
			    </a>
			  </div>
			  <div class="media-body text-left">
			    <h4 class="media-heading">Show Title</h4>
			    <p>
			    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    	tempor incididunt ut labore et dolore magna aliqua. 
			    </p>
			  </div>
			</div>
		</div>
		<div class="col-xs-3" id="calendar">
			<img src="static/images/calendarPlaceholder.png" class="img-responsive">
		</div>
		
	</div>
{% endblock %}