{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row" id="main">
		<div class="col-md-3" id="newsletter">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-md-6 text-center" id="shows">
		<!-- generate these with django -->
		{% for show in shows|slice:":5" %}
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object show-pic" src="{{MEDIA_ROOT}}{{show.image.url}}" alt="...">
			    </a>
			  </div>
			  <div class="media-body text-left">
			    <h4 class="media-heading">{{show.name}}</h4>
			    <em>
			    	{{show.date}}
			    </em>
			    <p>
			    	{{show.description}} 
			    </p>
			    <button class="btn btn-primary">Buy Tickets</button>
			  </div>
			</div>
			<hr>
		{% endfor %}
		</div>
		<div class="col-md-3" id="calendar">
			<!-- Responsive calendar - START -->
			<div class="responsive-calendar">
			  <div class="controls">
			      <a class="pull-left" data-go="prev"><div class="btn"><i class="fa fa-chevron-left"></i></div></a>
			      <h4><span data-head-year></span> <span data-head-month></span></h4>
			      <a class="pull-right" data-go="next"><div class="btn"><i class="fa fa-chevron-right"></i></div></a>
			  </div><hr/>
			  <div class="day-headers">
			    <div class="day header">Mon</div>
			    <div class="day header">Tue</div>
			    <div class="day header">Wed</div>
			    <div class="day header">Thu</div>
			    <div class="day header">Fri</div>
			    <div class="day header">Sat</div>
			    <div class="day header">Sun</div>
			  </div>
			  <div class="days" data-group="days">
			    <!-- the place where days will be generated -->
			  </div>
			</div>
			<!-- Responsive calendar - END -->
		</div>
<script>
$(document).ready( function() {
  $('.responsive-calendar').responsiveCalendar({
	events: {
		"2015-01-30": {
			"number": 2,
			"url": "#"
		}
  	}
  });
});
</script>
	</div>
</div>
{% endblock %}