{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% load strip_up %}{{ X |strip_up:request.path }}{% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
				<h1>
					Sasquatch
				</h1>
		</div>
		<div class="row">
			<div class="col-md-4" id="newsletter">
				<img class="media-object show-pic" src="{% static "images/shows/sasquatch.jpg" %}" />
			</div>
			
			<div class="col-md-4 text-left" id="shows">
				
				<p>
					The sobering tale of the World's Most Ridiculously Hairy Man. A musical adaptation.
				</p>
                <p>
                    What happens when a notorious recluse has a chance encounter and falls in love? Not only was that
                    rhetorical, but you will see why Sasquatch have been become the #1 musical of the pre-teen generation.
                </p>
                <p>
                    Not since that disney movie that spawned the ear worm about letting it go has a musical managed to to
                    make you want to buy so much merchandise while entertaining murderous thoughts for the producers.
                    Sasquatch The Musical will not leave you wanted more, just leave you wanted to get away to buy all the
                    awesome collector's edition stuff.
                </p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                </p>
                <p>
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<button class="btn btn-primary">Buy Tickets</button>
			</div>

			<div class="col-md-4" id="calendar">
				<h3>The Smelly Vagrant Theater</h3>
				<p> NAU Ardrey Auditorium </p>
				<h3>Running Time</h3>
				<p>Two hours with One intermission</p>
				<h3>Age Recommendation</h3>
				<p>Ages 16+</p>
			</div>
		</div>
	</div>
{% endblock %}