{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% load strip_up %}{{ X |strip_up:request.path }}{% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
				<h1>
					It Pays To Buy Good Tea
				</h1>
		</div>
		<div class="row">
			<div class="col-md-3" id="newsletter">
				<img class="media-object show-pic" src="{% static "images/shows/it-pays-tea.jpg" %}" />
			</div>
			
			<div class="col-md-6 text-center" id="shows">
				
				<p>
					From world-renownd British playwright, Gerrard Tea'n'Crumpets comes another amazing adaptation on the events of the infamous Boston Teaparty.
                    The year is 2047 and the British Government is being invaded by the United States. His Majesty realizing the imminent destruction of the Monarchy
                    initiates plan "Zed". The action calls for the activation of a time machine obtained from ancient aliens that built Stone-Hedge as a monument to
                    Sasquatch. We lose you yet? No? Wow, you must be a very fast reader if you have gotten this far. Did Dr. Palmer just so happen to ask a question
                    about the shows model? Well while we twiddle our thumbs perhaps it would be in both of our interests to tab back over to reddit and pretend none
                    of this is actually happening?
				</p>

				<button class="btn btn-primary">Buy Tickets</button>
			</div>

			<div class="col-md-3" id="calendar">
				<h3>The Smelly Vagrant Theater</h3>
				<p> NAU Ardrey Auditorium </p>
				<h3>Running Time</h3>
				<p>Three hours with two intermissions</p>
				<h3>Age Recommendation</h3>
				<p>Ages 50+</p>
			</div>
		</div>
	</div>
{% endblock %}