{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% load strip_up %}{{ X |strip_up:request.path }}{% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
				<h1>
					Yolo Swag: The Musical
				</h1>
		</div>
		<div class="row">
			<div class="col-md-4" id="newsletter">
				<img class="media-object show-pic" src="{% static "images/shows/" %}" />
			</div>
			
			<div class="col-md-4 text-left" id="shows">
				
				<p>
					Too much yolo to handle.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<button class="btn btn-primary">Buy Tickets</button>
			</div>

			<div class="col-md-4" id="calendar">
				<h3>The Smelly Vagrant Theater</h3>
				<p> NAU Ardrey Auditorium </p>
				<h3>Running Time</h3>
				<p>As long as you want with as many intermissions as you want</p>
				<h3>Age Recommendation</h3>
				<p>Ages 16+</p>
			</div>
		</div>
	</div>
{% endblock %}